<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/FireGuardProject/Views/FireRiskMapStyle.css">
</head>
<body>
    <div class="controls-wrapper">
        <div id="daysControlContainer" class="control-item">
            <input type="range" id="daysSlider" min="1" max="30" value="10" class="days-slider">
            <span id="daysValue">10 days</span>
            <button id="updateButton" class="update-button">Update Map</button>
        </div>
        <div class="control-item">
            <div class="leaflet-control-zoom"></div>
        </div>
        <div id="logoutContainer" class="control-item">
            <button id="logoutButton">Log Out</button>
        </div>
    </div>
    <script src="/FireGuardProject/Views/jwt_header.js"></script>
    <script src="/FireGuardProject/Views/Logout.js"></script>
    <script src="/FireGuardProject/Views/MapControls.js"></script>
</body>
</html>
    
            <div class="folium-map" id="map_d4bad85b3a4bcc4f8022424404fd4b0c" ></div>
        
</body>
<script>
    
    
            var map_d4bad85b3a4bcc4f8022424404fd4b0c = L.map(
                "map_d4bad85b3a4bcc4f8022424404fd4b0c",
                {
                    center: [61.0, 6.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0f9ceaef061d90f253a5f69f72c7948f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0f9ceaef061d90f253a5f69f72c7948f.addTo(map_d4bad85b3a4bcc4f8022424404fd4b0c);
        
    
            var circle_marker_d4529268b9334523c3c6b5be64b2d4a7 = L.circleMarker(
                [60.39299, 5.32415],
                {"bubblingMouseEvents": true, "color": "#c0e000", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#c0e000", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_d4bad85b3a4bcc4f8022424404fd4b0c);
        
    
        var popup_cb63cbac129c0a9e4e33c69bd7a82274 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f382db7b9315ff47759af10de474cff = $(`<div id="html_3f382db7b9315ff47759af10de474cff" style="width: 100.0%; height: 100.0%;">Bergen: 5.55</div>`)[0];
                popup_cb63cbac129c0a9e4e33c69bd7a82274.setContent(html_3f382db7b9315ff47759af10de474cff);
            
        

        circle_marker_d4529268b9334523c3c6b5be64b2d4a7.bindPopup(popup_cb63cbac129c0a9e4e33c69bd7a82274)
        ;

        
    
</script>
</html>