<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_92c442b82e38452075e4f159bac5d1f5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_92c442b82e38452075e4f159bac5d1f5" ></div>
        
</body>
<script>
    
    
            var map_92c442b82e38452075e4f159bac5d1f5 = L.map(
                "map_92c442b82e38452075e4f159bac5d1f5",
                {
                    center: [61.0, 6.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0ed1b60a35e0710d15a0622123b77ee4 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0ed1b60a35e0710d15a0622123b77ee4.addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
            var circle_marker_19196f6cb2e79da7476b92a65c16b966 = L.circleMarker(
                [60.39299, 5.32415],
                {"bubblingMouseEvents": true, "color": "#ffd200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffd200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_44fcbd02064085c5b119b0f033156a32 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c37bc5d9c91852fe90795a8176aa6c7b = $(`<div id="html_c37bc5d9c91852fe90795a8176aa6c7b" style="width: 100.0%; height: 100.0%;">Bergen: 5.03</div>`)[0];
                popup_44fcbd02064085c5b119b0f033156a32.setContent(html_c37bc5d9c91852fe90795a8176aa6c7b);
            
        

        circle_marker_19196f6cb2e79da7476b92a65c16b966.bindPopup(popup_44fcbd02064085c5b119b0f033156a32)
        ;

        
    
    
            var circle_marker_8cc4e07a1f0d8016fe6e890ff4f6ad83 = L.circleMarker(
                [59.77924, 5.50075],
                {"bubblingMouseEvents": true, "color": "#ffca00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffca00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_df004cfd897d8811ce249152637faf3c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_974ff97b0780efd8942454447a27e584 = $(`<div id="html_974ff97b0780efd8942454447a27e584" style="width: 100.0%; height: 100.0%;">Stord: 4.99</div>`)[0];
                popup_df004cfd897d8811ce249152637faf3c.setContent(html_974ff97b0780efd8942454447a27e584);
            
        

        circle_marker_8cc4e07a1f0d8016fe6e890ff4f6ad83.bindPopup(popup_df004cfd897d8811ce249152637faf3c)
        ;

        
    
    
            var circle_marker_2a941742d74d5af61b00b5a015b4c9b0 = L.circleMarker(
                [60.06928, 6.54639],
                {"bubblingMouseEvents": true, "color": "#ff8200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff8200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_082c26c433016a196007b7d72d0016d8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9ff3f7df96fe954c06df647a5f7cfae2 = $(`<div id="html_9ff3f7df96fe954c06df647a5f7cfae2" style="width: 100.0%; height: 100.0%;">Odda: 4.64</div>`)[0];
                popup_082c26c433016a196007b7d72d0016d8.setContent(html_9ff3f7df96fe954c06df647a5f7cfae2);
            
        

        circle_marker_2a941742d74d5af61b00b5a015b4c9b0.bindPopup(popup_082c26c433016a196007b7d72d0016d8)
        ;

        
    
    
            var circle_marker_7e5e4bce04491b85ac9137a464290108 = L.circleMarker(
                [60.62769, 6.41594],
                {"bubblingMouseEvents": true, "color": "#ff5800", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff5800", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_5c89a7a3e4800276881ea57be491b558 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c314df5d373c14c5f5e9c65fc4216161 = $(`<div id="html_c314df5d373c14c5f5e9c65fc4216161" style="width: 100.0%; height: 100.0%;">Voss: 4.44</div>`)[0];
                popup_5c89a7a3e4800276881ea57be491b558.setContent(html_c314df5d373c14c5f5e9c65fc4216161);
            
        

        circle_marker_7e5e4bce04491b85ac9137a464290108.bindPopup(popup_5c89a7a3e4800276881ea57be491b558)
        ;

        
    
    
            var circle_marker_82516655af17af35b93214394f72d06a = L.circleMarker(
                [61.45103, 5.86358],
                {"bubblingMouseEvents": true, "color": "#ff7200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_f0e011df40904c073f738317c8dd9d50 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fca9fc2c21dc5d25dcf6280207e77774 = $(`<div id="html_fca9fc2c21dc5d25dcf6280207e77774" style="width: 100.0%; height: 100.0%;">Førde: 4.56</div>`)[0];
                popup_f0e011df40904c073f738317c8dd9d50.setContent(html_fca9fc2c21dc5d25dcf6280207e77774);
            
        

        circle_marker_82516655af17af35b93214394f72d06a.bindPopup(popup_f0e011df40904c073f738317c8dd9d50)
        ;

        
    
    
            var circle_marker_d56789f9cf62054853b1596216de36ef = L.circleMarker(
                [61.22934, 7.10377],
                {"bubblingMouseEvents": true, "color": "#ff2400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff2400", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_97390963c10e4d0026f25b7f04003cb8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ecee31eb4232624d84fe7445c9a939b8 = $(`<div id="html_ecee31eb4232624d84fe7445c9a939b8" style="width: 100.0%; height: 100.0%;">Sogndal: 4.18</div>`)[0];
                popup_97390963c10e4d0026f25b7f04003cb8.setContent(html_ecee31eb4232624d84fe7445c9a939b8);
            
        

        circle_marker_d56789f9cf62054853b1596216de36ef.bindPopup(popup_97390963c10e4d0026f25b7f04003cb8)
        ;

        
    
    
            var circle_marker_752172b3a93cb3692ea4e6ec4b0de7cc = L.circleMarker(
                [61.59939, 5.03249],
                {"bubblingMouseEvents": true, "color": "#ffbe00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffbe00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_0778a02ce8bf2ad936851f0b7e6f34a0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4b88fbd6c3eba2a7ae95191b658fb2e6 = $(`<div id="html_4b88fbd6c3eba2a7ae95191b658fb2e6" style="width: 100.0%; height: 100.0%;">Florø: 4.93</div>`)[0];
                popup_0778a02ce8bf2ad936851f0b7e6f34a0.setContent(html_4b88fbd6c3eba2a7ae95191b658fb2e6);
            
        

        circle_marker_752172b3a93cb3692ea4e6ec4b0de7cc.bindPopup(popup_0778a02ce8bf2ad936851f0b7e6f34a0)
        ;

        
    
    
            var circle_marker_cc9ae026fcd76ec43c6405e39d5919b8 = L.circleMarker(
                [61.90579, 5.99109],
                {"bubblingMouseEvents": true, "color": "#ff7e00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7e00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_2b0f91e48e6d3b70e6da63326dbcbd2f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7dc1944a8ae433140f6243eba775c26a = $(`<div id="html_7dc1944a8ae433140f6243eba775c26a" style="width: 100.0%; height: 100.0%;">Nordfjordeid: 4.62</div>`)[0];
                popup_2b0f91e48e6d3b70e6da63326dbcbd2f.setContent(html_7dc1944a8ae433140f6243eba775c26a);
            
        

        circle_marker_cc9ae026fcd76ec43c6405e39d5919b8.bindPopup(popup_2b0f91e48e6d3b70e6da63326dbcbd2f)
        ;

        
    
    
            var circle_marker_e70c407a90c3716c3e0b8e584a9bac61 = L.circleMarker(
                [59.2671, 10.4076],
                {"bubblingMouseEvents": true, "color": "#ff5800", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff5800", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_554d3f697691a446c36d187aad9e0af8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_25012524518e64be18be1df52b153427 = $(`<div id="html_25012524518e64be18be1df52b153427" style="width: 100.0%; height: 100.0%;">Tønsberg: 4.43</div>`)[0];
                popup_554d3f697691a446c36d187aad9e0af8.setContent(html_25012524518e64be18be1df52b153427);
            
        

        circle_marker_e70c407a90c3716c3e0b8e584a9bac61.bindPopup(popup_554d3f697691a446c36d187aad9e0af8)
        ;

        
    
    
            var circle_marker_62cd04498c7eacb609541cf20c636cbc = L.circleMarker(
                [59.9139, 10.7522],
                {"bubblingMouseEvents": true, "color": "#ff7200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_fad81f0e553ace64b643eaf5c5eaa88b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2a57ed047e9da97342aa8cb70f70d093 = $(`<div id="html_2a57ed047e9da97342aa8cb70f70d093" style="width: 100.0%; height: 100.0%;">Oslo: 4.56</div>`)[0];
                popup_fad81f0e553ace64b643eaf5c5eaa88b.setContent(html_2a57ed047e9da97342aa8cb70f70d093);
            
        

        circle_marker_62cd04498c7eacb609541cf20c636cbc.bindPopup(popup_fad81f0e553ace64b643eaf5c5eaa88b)
        ;

        
    
    
            var circle_marker_04683eaab307563957ccd04d4e789c86 = L.circleMarker(
                [63.4305, 10.3951],
                {"bubblingMouseEvents": true, "color": "#ff0000", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff0000", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_92c442b82e38452075e4f159bac5d1f5);
        
    
        var popup_9479bcf8d96dd255318f822989f3619a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_407d5260ddaf6c435006b3ea5e75efb1 = $(`<div id="html_407d5260ddaf6c435006b3ea5e75efb1" style="width: 100.0%; height: 100.0%;">Trondheim: 3.80</div>`)[0];
                popup_9479bcf8d96dd255318f822989f3619a.setContent(html_407d5260ddaf6c435006b3ea5e75efb1);
            
        

        circle_marker_04683eaab307563957ccd04d4e789c86.bindPopup(popup_9479bcf8d96dd255318f822989f3619a)
        ;

        
    
</script>
</html>