<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78c89fca9d221d0d9f27cd2bc5674bb7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_78c89fca9d221d0d9f27cd2bc5674bb7" ></div>
        
</body>
<script>
    
    
            var map_78c89fca9d221d0d9f27cd2bc5674bb7 = L.map(
                "map_78c89fca9d221d0d9f27cd2bc5674bb7",
                {
                    center: [61.0, 6.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_800fb82dd2f7d66d1b4b980b2ff21c54 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_800fb82dd2f7d66d1b4b980b2ff21c54.addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
            var circle_marker_a599ba32257d95df12afd6034b465327 = L.circleMarker(
                [60.39299, 5.32415],
                {"bubblingMouseEvents": true, "color": "#ffd200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffd200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_ce8e23530885c3fe2f43102c24b2ae9e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5141dafc5eb281369373608d3fa0bf13 = $(`<div id="html_5141dafc5eb281369373608d3fa0bf13" style="width: 100.0%; height: 100.0%;">Bergen: 5.03</div>`)[0];
                popup_ce8e23530885c3fe2f43102c24b2ae9e.setContent(html_5141dafc5eb281369373608d3fa0bf13);
            
        

        circle_marker_a599ba32257d95df12afd6034b465327.bindPopup(popup_ce8e23530885c3fe2f43102c24b2ae9e)
        ;

        
    
    
            var circle_marker_079d353ee8eb05efeb3e25046fae2fc5 = L.circleMarker(
                [59.77924, 5.50075],
                {"bubblingMouseEvents": true, "color": "#ffca00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffca00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_7c746fdc21e952a04ef8b214e0e7d246 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f776abb0c344dbf77343c06f3111226e = $(`<div id="html_f776abb0c344dbf77343c06f3111226e" style="width: 100.0%; height: 100.0%;">Stord: 4.99</div>`)[0];
                popup_7c746fdc21e952a04ef8b214e0e7d246.setContent(html_f776abb0c344dbf77343c06f3111226e);
            
        

        circle_marker_079d353ee8eb05efeb3e25046fae2fc5.bindPopup(popup_7c746fdc21e952a04ef8b214e0e7d246)
        ;

        
    
    
            var circle_marker_32ea4569657e8c7e9c91960bf5487646 = L.circleMarker(
                [60.06928, 6.54639],
                {"bubblingMouseEvents": true, "color": "#ff7e00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7e00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_b60b7847abb3ed03f55b99c4d1c3c8b4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c7af38434961f04d60beeff08ad100b9 = $(`<div id="html_c7af38434961f04d60beeff08ad100b9" style="width: 100.0%; height: 100.0%;">Odda: 4.62</div>`)[0];
                popup_b60b7847abb3ed03f55b99c4d1c3c8b4.setContent(html_c7af38434961f04d60beeff08ad100b9);
            
        

        circle_marker_32ea4569657e8c7e9c91960bf5487646.bindPopup(popup_b60b7847abb3ed03f55b99c4d1c3c8b4)
        ;

        
    
    
            var circle_marker_d3625efec90f84b0db5d12f97304a955 = L.circleMarker(
                [60.62769, 6.41594],
                {"bubblingMouseEvents": true, "color": "#ff5a00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff5a00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_ec948ef0b1d5e032fcf03834e81ae6bd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2bc453d029df45a073e44e50c583e458 = $(`<div id="html_2bc453d029df45a073e44e50c583e458" style="width: 100.0%; height: 100.0%;">Voss: 4.45</div>`)[0];
                popup_ec948ef0b1d5e032fcf03834e81ae6bd.setContent(html_2bc453d029df45a073e44e50c583e458);
            
        

        circle_marker_d3625efec90f84b0db5d12f97304a955.bindPopup(popup_ec948ef0b1d5e032fcf03834e81ae6bd)
        ;

        
    
    
            var circle_marker_2d8a800235875aadb9551391888b5b9a = L.circleMarker(
                [61.45103, 5.86358],
                {"bubblingMouseEvents": true, "color": "#ff7200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_45e2db32f70ca3ce34c4bae4837f4dbf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7d3af0e0e456fca637f69c355bbbbc4d = $(`<div id="html_7d3af0e0e456fca637f69c355bbbbc4d" style="width: 100.0%; height: 100.0%;">Førde: 4.56</div>`)[0];
                popup_45e2db32f70ca3ce34c4bae4837f4dbf.setContent(html_7d3af0e0e456fca637f69c355bbbbc4d);
            
        

        circle_marker_2d8a800235875aadb9551391888b5b9a.bindPopup(popup_45e2db32f70ca3ce34c4bae4837f4dbf)
        ;

        
    
    
            var circle_marker_56e1bf4ee8389c5923b180d892a43151 = L.circleMarker(
                [61.22934, 7.10377],
                {"bubblingMouseEvents": true, "color": "#ff2400", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff2400", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_3af8527cf48450407543d6cfa69e3a1e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_434e544b7990786abfb003d1ebad5bbd = $(`<div id="html_434e544b7990786abfb003d1ebad5bbd" style="width: 100.0%; height: 100.0%;">Sogndal: 4.18</div>`)[0];
                popup_3af8527cf48450407543d6cfa69e3a1e.setContent(html_434e544b7990786abfb003d1ebad5bbd);
            
        

        circle_marker_56e1bf4ee8389c5923b180d892a43151.bindPopup(popup_3af8527cf48450407543d6cfa69e3a1e)
        ;

        
    
    
            var circle_marker_d59000a3ffc3ca79ed4ac109ef61c539 = L.circleMarker(
                [61.59939, 5.03249],
                {"bubblingMouseEvents": true, "color": "#ffbe00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffbe00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_e68408e3293b50b6d00d866cdf1167d7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_02d10581855f15848c0fb7708122894b = $(`<div id="html_02d10581855f15848c0fb7708122894b" style="width: 100.0%; height: 100.0%;">Florø: 4.93</div>`)[0];
                popup_e68408e3293b50b6d00d866cdf1167d7.setContent(html_02d10581855f15848c0fb7708122894b);
            
        

        circle_marker_d59000a3ffc3ca79ed4ac109ef61c539.bindPopup(popup_e68408e3293b50b6d00d866cdf1167d7)
        ;

        
    
    
            var circle_marker_c05bb466c172992c1050160582719eb5 = L.circleMarker(
                [61.90579, 5.99109],
                {"bubblingMouseEvents": true, "color": "#ff7e00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7e00", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_826d314f85b14f166e3775f4d94ea703 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_08596fdd82096fc0fc0595cefa310d8b = $(`<div id="html_08596fdd82096fc0fc0595cefa310d8b" style="width: 100.0%; height: 100.0%;">Nordfjordeid: 4.62</div>`)[0];
                popup_826d314f85b14f166e3775f4d94ea703.setContent(html_08596fdd82096fc0fc0595cefa310d8b);
            
        

        circle_marker_c05bb466c172992c1050160582719eb5.bindPopup(popup_826d314f85b14f166e3775f4d94ea703)
        ;

        
    
    
            var circle_marker_3fe656eb64c41db35d4c37305298c82f = L.circleMarker(
                [59.2671, 10.4076],
                {"bubblingMouseEvents": true, "color": "#ff6000", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff6000", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_52a5a2e9ef90d056f2c875943ffcc88f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1ff9594a9c6e55feaa949b015c21a407 = $(`<div id="html_1ff9594a9c6e55feaa949b015c21a407" style="width: 100.0%; height: 100.0%;">Tønsberg: 4.48</div>`)[0];
                popup_52a5a2e9ef90d056f2c875943ffcc88f.setContent(html_1ff9594a9c6e55feaa949b015c21a407);
            
        

        circle_marker_3fe656eb64c41db35d4c37305298c82f.bindPopup(popup_52a5a2e9ef90d056f2c875943ffcc88f)
        ;

        
    
    
            var circle_marker_dab342743f0778cbb00b20fcea00a98a = L.circleMarker(
                [59.9139, 10.7522],
                {"bubblingMouseEvents": true, "color": "#ff7200", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff7200", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_5836c1ede69a83eb1188d3cffa87abe0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6c1833e039e9c9227c350010ad78d9a3 = $(`<div id="html_6c1833e039e9c9227c350010ad78d9a3" style="width: 100.0%; height: 100.0%;">Oslo: 4.56</div>`)[0];
                popup_5836c1ede69a83eb1188d3cffa87abe0.setContent(html_6c1833e039e9c9227c350010ad78d9a3);
            
        

        circle_marker_dab342743f0778cbb00b20fcea00a98a.bindPopup(popup_5836c1ede69a83eb1188d3cffa87abe0)
        ;

        
    
    
            var circle_marker_6e12c7922eae8b95e44650353e486ff8 = L.circleMarker(
                [63.4305, 10.3951],
                {"bubblingMouseEvents": true, "color": "#ff0000", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ff0000", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 3}
            ).addTo(map_78c89fca9d221d0d9f27cd2bc5674bb7);
        
    
        var popup_2e369b23b21d9977da5e31e9e5f0dbe1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0aae5c5da81726252e8564adffa51f23 = $(`<div id="html_0aae5c5da81726252e8564adffa51f23" style="width: 100.0%; height: 100.0%;">Trondheim: 3.80</div>`)[0];
                popup_2e369b23b21d9977da5e31e9e5f0dbe1.setContent(html_0aae5c5da81726252e8564adffa51f23);
            
        

        circle_marker_6e12c7922eae8b95e44650353e486ff8.bindPopup(popup_2e369b23b21d9977da5e31e9e5f0dbe1)
        ;

        
    
</script>
</html>